<div class="wrap wrap_flickity">
    <h2>
        <?php echo $slider_ID ? __('Edit Slider') : __('New Slider') ?>
    </h2>

    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">
            <form action="<?php echo menu_page_url('mh-flickity-slider', false) . '&noheader=true'; ?>" method="POST">
                <?php settings_fields('mh_flickity_slider'); ?>
                <input name="id" type="hidden" value="<?php echo $slider_ID ?>">
                <div class="settings_box settings_left">
                    <div class="inside">
                        <h3><?php echo __('General') ?></h3>
                        <table class="form-table">
                            <?php do_settings_fields('mh_flickity_slider', 'mh_flickity_slider_section_main'); ?>
                        </table>
                    </div>
                </div>
                <div class="settings_box settings_right">
                    <div class="inside">
                        <h3><?php echo __('Settings') ?></h3>
                        <table class="form-table">
                            <?php do_settings_fields('mh_flickity_slider', 'mh_flickity_slider_section_secondary'); ?>
                        </table>
                    </div>
                </div>
                <br class="clear">
                <?php submit_button(); ?>
                <a class="button" href="<?php echo menu_page_url('mh-flickity-slider', false) . '&view=slides&id=' . $slider_ID ?>"><?php echo __('Edit Slides') ?></a>
            </form>
        </div>
        <br class="clear">
    </div>
</div>