<div class="wrap">
    <h1 class="wp-heading-inline">Musterhaus Flickity Sliders</h1>
    <a class="page-title-action" href="<?php echo menu_page_url('mh-flickity-slider', false) . '&view=edit' ?>"><?php echo __('Create new Slider'); ?></a>
    <div>
        <?php $wp_list_table->display() ?>
    </div>
</div>