<div class="wrap wrap_flickity">
    <h1 class="wp-heading-inline"><?php echo __('Edit Slides') ?></h1>
    <a class="page-title-action"
       href="<?php echo menu_page_url('mh-flickity-slider', false) . '&view=edit&id=' . $slider_ID ?>"><?php echo __('Slider Settings'); ?></a>
    <div id="poststuff">
        <div id="post-body" class="metabox-holder">
            <div>
                <span>Sortiere nach: </span>
                <select name="sort_by" id="changeSortOrderForPost"
                        data-nonce="<?php echo $this->getWPNonceForAction(self::AJAX_POST_SORT_ORDER_CHANGE_NONCE); ?>"
                        data-post-id="<?php echo $slider_ID; ?>">
                    <?php foreach ($this->getSortOrdersForPost() as $key => $name): ?>
                        <option value="<?php echo $key ?>" <?php echo ($post_content['sort_by'] === $key) ? 'selected="selected"' : ''; ?>><?php echo $name ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
            <hr/>
            <div class="settings_box">
                <div class="inside">
                    <div id="sortable_container">
                        <ul id="sortable"
                            data-nonce="<?php echo $this->getWPNonceForAction(self::AJAX_POST_ORDERS_CHANGE_NONCE); ?>"
                            data-post-id="<?php echo $slider_ID; ?>">
                            <?php
                            $i = 1;
                            foreach ($posts as $post): ?>
                                <li class="slide-box" id="<?php echo $post->ID ?>">
                                        <span class="col-counter">
                                            <?php echo $i ?>
                                        </span>
                                    <span class="col-thumbnail"><?php echo get_the_post_thumbnail($post, 'thumbnail') ?></span>
                                    <span class="col-title">
                                        <?php echo $post->post_title ?>
                                        <br/><br/>
                                        <a class="button" href=""><?php echo __('Edit Post') ?></a>
                                    </span>
                                </li>
                                <?php $i++; ?>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>