.flicky-slider {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;

  &.is-hidden {
    display: none;
  }

  &.flickity-enabled, &.flickity-destroyed {
    opacity: 1;
  }

  &.flickity-destroyed {
    margin-bottom: 0;

    .carousel-cell {
      float: left;
      left: initial !important;
      position: relative;
      margin-bottom: 2%;

      &.col-3 {
        &:nth-child(4n+4) {
          margin-right: 0 !important;

        }

        @media (max-width: 991px) {
          margin-right: 1.5% !important;
          &:nth-child(2n+2) {
            margin-right: 0 !important;
          }
        }
      }
      &.col-4 {
        &:nth-child(3n+3) {
          margin-right: 0;
        }

        @media (max-width: 991px) {
          margin-right: 1.5% !important;
          &:nth-child(2n+2) {
            margin-right: 0 !important;
          }
        }
      }
      &.col-6 {
        &:nth-child(2n+2) {
          margin-right: 0;
        }

        @media (max-width: 991px) {
          margin-right: 0% !important;
          width: 100% !important;
        }
      }
    }
  }
}

.flicky-silder-container {
  margin-bottom: 5rem !important;

  .flickity-page-dots {
    bottom: -35px;
  }

  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: #0887d4;
  }

  .flickity-prev-next-button.no-svg {
    color: #0887d4;
  }

  .flickity-prev-next-button:hover {

  }

  &.nav-top {
    padding-top: 60px;

    .flickity-prev-next-button {
      width: 40px;
      height: 40px;
      border-radius: 3px;
      background: #0887d4;
      top: -40px !important;

      &.previous {
        left: ~"calc(50% - 45px)";
      }
      &.next {
        right: ~"calc(50% - 45px)";
      }
    }
  }

  &.nav-bottom {
    .flickity-prev-next-button {
      width: 40px;
      height: 40px;
      border-radius: 3px;
      background: #ffffff;
      bottom: -120px !important;
      top: auto !important;

      &.previous {
        left: ~"calc(50% - 45px)";
      }
      &.next {
        right: ~"calc(50% - 45px)";
      }
    }
  }

  &.nav-left_right {
    .flickity-prev-next-button {
      border: 3px solid #0887d4;

      &.previous {
        left: -10px;
      }
      &.next {
        right: -10px;
      }
    }
  }
}
