.flicky-slider {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.flicky-slider.is-hidden {
  display: none;
}
.flicky-slider.flickity-enabled,
.flicky-slider.flickity-destroyed {
  opacity: 1;
}
.flicky-slider.flickity-destroyed {
  margin-bottom: 0;
}
.flicky-slider.flickity-destroyed .carousel-cell {
  float: left;
  left: initial !important;
  position: relative;
  margin-bottom: 2%;
}
.flicky-slider.flickity-destroyed .carousel-cell.col-3:nth-child(4n+4) {
  margin-right: 0 !important;
}
@media (max-width: 991px) {
  .flicky-slider.flickity-destroyed .carousel-cell.col-3 {
    margin-right: 1.5% !important;
  }
  .flicky-slider.flickity-destroyed .carousel-cell.col-3:nth-child(2n+2) {
    margin-right: 0 !important;
  }
}
.flicky-slider.flickity-destroyed .carousel-cell.col-4:nth-child(3n+3) {
  margin-right: 0;
}
@media (max-width: 991px) {
  .flicky-slider.flickity-destroyed .carousel-cell.col-4 {
    margin-right: 1.5% !important;
  }
  .flicky-slider.flickity-destroyed .carousel-cell.col-4:nth-child(2n+2) {
    margin-right: 0 !important;
  }
}
.flicky-slider.flickity-destroyed .carousel-cell.col-6:nth-child(2n+2) {
  margin-right: 0;
}
@media (max-width: 991px) {
  .flicky-slider.flickity-destroyed .carousel-cell.col-6 {
    margin-right: 0% !important;
    width: 100% !important;
  }
}
.flicky-silder-container {
  margin-bottom: 3rem !important;
  /* arrow color */
}
.flicky-silder-container .flickity-page-dots {
  bottom: -35px;
}
.flicky-silder-container .flickity-prev-next-button .arrow {
  fill: #0887D4;
}
.flicky-silder-container .flickity-prev-next-button.no-svg {
  color: #0887D4;
}
.flicky-silder-container .flickity-prev-next-button:hover {
  color: #4ab6f8;
}
.flicky-silder-container.nav-top {
  padding-top: 60px;
}
.flicky-silder-container.nav-top .flickity-prev-next-button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: #0887D4;
  top: -40px !important;
}
.flicky-silder-container.nav-top .flickity-prev-next-button.previous {
  left: calc(50% - 45px);
}
.flicky-silder-container.nav-top .flickity-prev-next-button.next {
  right: calc(50% - 45px);
}
.flicky-silder-container.nav-bottom .flickity-prev-next-button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: white;
  border-color: #0887D4;
  bottom: -100px !important;
  top: auto !important;
}
.flicky-silder-container.nav-bottom .flickity-prev-next-button.previous {
  left: calc(50% - 45px);
}
.flicky-silder-container.nav-bottom .flickity-prev-next-button.next {
  right: calc(50% - 45px);
}
.flicky-silder-container.nav-left_right .flickity-prev-next-button {
  border: 3px solid #0887D4;
}
.flicky-silder-container.nav-left_right .flickity-prev-next-button.previous {
  left: -10px;
}
.flicky-silder-container.nav-left_right .flickity-prev-next-button.next {
  right: -10px;
}
/*# sourceMappingURL=frontend.css.map */