.wrap_flickity .settings_box {
  background: white;
  float: left;
}

.wrap_flickity .settings_box .inside {
  padding: 0 15px;
}

.wrap_flickity .settings_left {
  width: 49%;
  margin-right: 1%;
}

.wrap_flickity .settings_right {
  width: 49%;
  margin-left: 1%;
}

.el_post_ids {
  display: none;
}

#sortable_container {
  #sortable {
    li.slide-box {
      cursor: row-resize;
      border: 1px solid #ddd;
      background: #eee;
      padding: 10px;

      span {
        vertical-align: top;
        display: inline-block;
        margin-right: 10px;

        &.col-counter {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
}