<div class="carousel carousel-news flicky-slider" <?php echo $get_data_attributes() ?>>
    <?php foreach ($posts as $post):
        $post_thumbnail_id = get_post_thumbnail_id($post);
        $alt_text = get_post_meta($post_thumbnail_id, '_wp_attachment_image_alt', true);
        ?>
        <div class="carousel-cell col-lg-3 col-md-4 col-xs-12 col-sm-6" data-post-id="<?php echo $post->ID ?>">
            <a class="card" href="<?php echo \Musterhaus\FlickySliderWP\Utilities::getPermalink($post) ?>">
                <img class="lazy card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAE0lEQVR4AWO4/eozSWhwaBjVAAA9uIeQdKcQNgAAAABJRU5ErkJggg=="
                     data-src="<?php echo \Musterhaus\FlickySliderWP\FlickySlider::getResizedImage(get_the_post_thumbnail_url($post), 320) ?>" alt="<?php echo $alt_text ?>">
                <div class="card-body">
                    <p class="small text-muted"><?php echo get_the_author_meta('display_name', $post->post_author); ?><span>&nbsp;|&nbsp;</span><?php echo get_the_date("", $post) ?></p>
                    <p><strong class="semibold"><?php echo \Musterhaus\FlickySliderWP\Utilities::getTitle($post, $content['limit_title'], ' ', $content['limit_by']); ?></strong></p>
                    <p class="text-muted small">
                        <?php echo \Musterhaus\FlickySliderWP\Utilities::getExcerpt($post, $content['limit_excerpt'], ' ', $content['limit_by']); ?>
                    </p>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</div>