<div class="carousel carousel-grey-box flicky-slider" <?php echo $get_data_attributes() ?>>
    <?php foreach ($posts as $post):
        $post_thumbnail_id = get_post_thumbnail_id($post);
        $alt_text = get_post_meta($post_thumbnail_id, '_wp_attachment_image_alt', true);
        ?>
        <div class="carousel-cell col-4" data-post-id="<?php echo $post->ID ?>">
            <a href="<?php echo \Musterhaus\FlickySliderWP\Utilities::getPermalink($post) ?>">
                <div class="media-holder">
                    <div class="khwl <?php echo 'ratio-' . $content['image_ratio'] ?>">
                        <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAE0lEQVR4AWO4/eozSWhwaBjVAAA9uIeQdKcQNgAAAABJRU5ErkJggg==" data-src="<?php echo \Musterhaus\FlickySliderWP\FlickySlider::getResizedImage(get_the_post_thumbnail_url($post), 320) ?>"
                             alt="<?php echo $alt_text ?>">
                    </div>
                </div>
                <div class="detail-holder">
                    <p>
                        <strong class="title"><?php echo \Musterhaus\FlickySliderWP\Utilities::getTitle($post, $content['limit_title'], ' ', $content['limit_by']); ?></strong>
                    </p>
                    <div class="divide5"></div>
                    <p class="description">
                        <?php echo \Musterhaus\FlickySliderWP\Utilities::getExcerpt($post, $content['limit_excerpt'], ' ', $content['limit_by']); ?>
                    </p>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    <?php endforeach ?>
</div>