<div class="carousel carousel-image-zoom flicky-slider" <?php echo $get_data_attributes() ?>>
    <?php foreach ($posts as $post):
        $post_thumbnail_id = get_post_thumbnail_id($post);
        $alt_text = get_post_meta($post_thumbnail_id, '_wp_attachment_image_alt', true);
        $post_thumbnail_url = get_the_post_thumbnail_url($post);
        ?>
        <div class="carousel-cell col-12 col-sm-6 col-md-4 col-lg-3" data-post-id="<?php echo $post->ID ?>">
            <a class="d-block mb-2" title="<?php echo get_the_title($post); ?>" href="<?php echo get_the_post_thumbnail_url($post) ?>">
                <img class="img-thumbnail img-fluid w-100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAE0lEQVR4AWO4/eozSWhwaBjVAAA9uIeQdKcQNgAAAABJRU5ErkJggg=="
                     data-flickity-lazyload="<?php echo \Musterhaus\FlickySliderWP\FlickySlider::getResizedImage(get_the_post_thumbnail_url($post), 320) ?>" alt="<?php echo $alt_text ?>">
            </a>
            <div class="detail-holder text-center">
                <strong class="darkblue smaller"><?php echo \Musterhaus\FlickySliderWP\Utilities::getTitle($post, $content['limit_title'], ' ', $content['limit_by']); ?></strong>
            </div>
        </div>
    <?php endforeach ?>
</div>