<div class="carousel carousel-news flicky-slider" <?php echo $get_data_attributes() ?>>
    <?php foreach ($posts as $post):
        $post_thumbnail_id = get_post_thumbnail_id($post);
        $alt_text = get_post_meta($post_thumbnail_id, '_wp_attachment_image_alt', true);
        ?>
        <div class="carousel-cell col-lg-4 col-sm-6 col-12 clearfix" data-post-id="<?php echo $post->ID ?>">
            <a class="card h-100" href="<?php echo \Musterhaus\FlickySliderWP\Utilities::getPermalink($post) ?>">
                <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAE0lEQVR4AWO4/eozSWhwaBjVAAA9uIeQdKcQNgAAAABJRU5ErkJggg=="
                     data-flickity-lazyload="<?php echo \Musterhaus\FlickySliderWP\FlickySlider::getResizedImage(get_the_post_thumbnail_url($post), 320) ?>" alt="<?php echo $alt_text ?>">
                <div class="card-body bg-light">
                    <p class="small text-muted mb-1"><?php echo get_the_author_meta('display_name', $post->post_author); ?><span>&nbsp;|&nbsp;</span><?php echo get_the_date("d.m.Y", $post) ?></p>
                    <p class="smaller"><strong class="semibold"><?php echo \Musterhaus\FlickySliderWP\Utilities::getTitle($post, $content['limit_title'], ' ', $content['limit_by']); ?></strong></p>
                    <p class="text-muted small m-0"><?php echo \Musterhaus\FlickySliderWP\Utilities::getExcerpt($post, $content['limit_excerpt'], ' ', $content['limit_by']); ?></p>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</div>