<div class="carousel carousel-panels flicky-slider" <?php echo $get_data_attributes() ?>>
    <?php foreach ($posts as $post):
        $post_thumbnail_id = get_post_thumbnail_id($post);
        $alt_text = get_post_meta($post_thumbnail_id, '_wp_attachment_image_alt', true);
        ?>
        <div class="carousel-cell col-6" data-post-id="<?php echo $post->ID ?>">
            <a class="card" href="<?php echo \Musterhaus\FlickySliderWP\Utilities::getPermalink($post) ?>">
                <img class="card-img-top lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAIAAAC0SDtlAAAAE0lEQVR4AWO4/eozSWhwaBjVAAA9uIeQdKcQNgAAAABJRU5ErkJggg=="
                     data-src="<?php echo \Musterhaus\FlickySliderWP\FlickySlider::getResizedImage(get_the_post_thumbnail_url($post), 320) ?>" alt="<?php echo $alt_text ?>">
                <div class="card-body">
                    <small>
                        <span><?php echo get_the_author_meta('display_name', $post->post_author); ?>, </span><span><?php echo get_the_date("", $post) ?></span>
                    </small>
                    <p class="smaller"><strong class="semibold"><?php echo \Musterhaus\FlickySliderWP\Utilities::getTitle($post, $content['limit_title'], ' ', $content['limit_by']); ?></strong></p>
                    <p class="small text-muted"><?php echo \Musterhaus\FlickySliderWP\Utilities::getExcerpt($post, $content['limit_excerpt'], ' ', $content['limit_by']); ?></p>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</div>